*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: aqua;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 1rem yellow;
}

ul{
    display: flex;
    margin: 23px;
}

li{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: cornflowerblue;
    cursor: pointer;
    padding-left: 2rem;
    font-weight: bold;
}
