a {
    font-family: Arial, Helvetica, sans-serif
    font-size: 20px;

    color: grey;
}

.rafaaxzin { 

    box-sizing: border-box;
    background-color: black;
    color: grey;
    width: 10%;
    padding: 10px;
    margin: auto;
    

    border: 15px solid goldenrod;


}

